/*
 * @file
 * CSS for kendra_social_test.
 */
#kendra-social-test-api .form-type-textarea {
	float: right;
	width: 35em;
}

#response {
	white-space: pre;
	white-space: pre-wrap;
	font-family: Menlo, Consolas, "Andale Mono", "Lucida Console",
		"Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
	font-size: 10.7833px;
	font-weight: 400;
	color: #3B3B3B;
	line-height: 16.1833px;
	padding-top: 0;
	padding-right: 4.31667px;
	padding-bottom: 0;
	padding-left: 4.31667px;
}

#kendra-api-methods-list {
	border:0;
	width:100%;
	height:300px;
}
